
<div class="container">
    <div class="box-login">
        <div class="container-login">
            <form action="" method="get" class="submit-form">
                <div class="input-email">
                    <input 
                        type="email"    
                        name="email" 
                        class="email" 
                        placeholder="you@example.com"
                    >
                </div>
                <div class="input-password">
                    <input 
                        type="password"  
                        name="password"    
                        class="password"
                        placeholder="password" 
                    >
                </div>
                <div class="button-submit">
                    <button type="submit" class="button">
                        Entrar
                    </button>
                </div>
                <a routerLink="/cadastrar" class="link">Cadastre-se</a>
            </form>
        </div>
    </div>
</div>
